extends layout-2

block content
  .page-header
  a(href='/') Return to Home Page <br/>
  h3 Question
      h1 #{title}
      p #{content}
      p(id='qVotes') #{votes} 
      p(id='qVoteUp') Vote Up
      p(id='qVoteDown') Vote Down
      input.form-control(type='hidden' name='questionID1' id='questionID1' value=id)
  
  if count > 1
    h3 #{count} Answers <br /><br />
  else if count === 0
    h3 No Answers yet<br/>
  else 
    h3 #{count} Answer <br/><br/>

  each answer in answers_array
    .answerArray
      h4(class="answerContent")= answer.content
      p(class="answerAuthor")= answer.author
      p(class="ansVoteUp") Vote Up
      p(class="ansVoteDown") Vote Down
      //p= answer.id
      each comment in comments_array
        if comment.id === answer.id
          .commentArray
            p(class="commentContent" style="padding-left:2em; border-style:solid;border-width:1px;border-color:#d3d3d3;")= comment.content
            p(class="commentAuthor")= comment.author

      if answer.content && isLoggedIn
        form.form-horizontal(action='/comment' id='signup-form', method='POST')
          .form-group
            label.col-sm-2.col.control-label(for='Content' style='text-align:left;') Comment
            .col-sm-12
              textarea.form-control(type='text', rows='2', name='comment', id='comment', placeholder='Comment')
              input.form-control(type='hidden' name='answerID' id='answerID' value=answer.id)
              input.form-control(type='hidden' name='questionID' id='questionID' value=id)
          .form-group
            .col-sm-7
              button.btn.btn-success(type='button' class='commentButton')
                i.fa.fa-user-plus
                | Post Coment
      else
        p(style="color:red;") Please #[a(href="/login") login] to post comment.
    


  if messages.errors
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for error in messages.errors
        div= error.msg
  if messages.answerErrors
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for error in messages.answerErrors
        div= error.msg
  if isLoggedIn
    form.form-horizontal(id='signup-form', method='POST')
      .form-group
        label.col-sm-2.col.control-label(for='Content' style='text-align:left;') Your Answer
        .col-sm-12
          textarea.form-control(type='text', rows='10', name='answer', id='answer', placeholder='Answer')
      .form-group
        .col-sm-7
          button.btn.btn-success(id="answerButton" type='button')
            i.fa.fa-user-plus
            | Post Answer
  else
    h3(style="color:red;") Please #[a(href="/login") login] to post answer.

  script
    include ../public/js/question-detailed.js
    include ../public/js/post-answer.js    
    include ../public/js/post-comments.js