extends layout

block content
  .page-header
  a(href='/') Return to Home Page <br/>
  h3 Question
      h1 #{title}
      p #{content}
  
  if count > 1
    h3 #{count} Answers <br /><br />
  else if count === 0
    h3 No Answers yet<br/>
  else 
    h3 #{count} Answer <br/><br/>

  each answer in answers_array
    h4= answer.content
    p= answer.author
    //p= answer.id
    each comment in comments_array
      if comment.id === answer.id
        p(style="padding-left:2em; border-style:solid;border-width:1px;border-color:#d3d3d3;")= comment.content
        p= comment.author

    if answer.content 
      form.form-horizontal(action='/comment' id='signup-form', method='POST')
        .form-group
          label.col-sm-2.col.control-label(for='Content' style='text-align:left;') Comment
          .col-sm-12
            textarea.form-control(type='text', rows='2', name='comment', id='comment', placeholder='Comment')
            input.form-control(type='hidden' name='answerID' id='answerID' value=answer.id)
            input.form-control(type='hidden' name='questionID' id='questionID' value=id)
        .form-group
          .col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Post Coment


  form.form-horizontal(id='signup-form', method='POST')
    .form-group
      label.col-sm-2.col.control-label(for='Content' style='text-align:left;') Your Answer
      .col-sm-12
        textarea.form-control(type='text', rows='10', name='answer', id='answer', placeholder='Answer')
    .form-group
      .col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Post Answer