extends layout

block content
  h1= title
  p Welcome to my super long list of #{title}

  h2= btitle
  p <b>Welcome to the Users Page</b>
  p The first user is #{user1} 
  p The second user is #{user2}
  p The third user is #{user3}
  p The fourth user is #{user4}
